/* Markdown */
:root{
    --maincolor: red;
    --bordercl:rebeccapurple;
    --callouctcolor:dodgerblue;
    --hovercolor:navy;
    --darkMaincolor: #50fa7b;

    --heliotrope-text-font: heliotrope3;
    --heliotrope-text-line-height: 1.42;
    --heliotrope-text-size: 0.96rem;

    --heliotrope-header-font: heliotrope4;
    --heliotrope-header-line-height: 1.6;
    --heliotrope-header-size: 1.15rem;
}

html { font-size: 2.4vw; }

@media all and (min-width:1000px) { html { font-size: 24px; } }
@media all and (max-width:520px) { html{ font-size: 18px; } }

.body-text_heliotrope {
    /* Styling from  https://practicaltypography.com/ */
    font-family: var(--heliotrope-text-font);
    line-height: var(--heliotrope-text-line-height);
    font-size: var(--heliotrope-text-size);
}

.body-text_heliotrope {
    font-family: heliotrope3;
    line-height: 1.42;
    font-size: 0.96rem;
}

.body-text_heliotrope .small-caps,
.body-text_heliotrope sig,
.body-text_heliotrope .subhead,
.body-text_heliotrope .howto-name,
.body-text_heliotrope a.xref {
    font-family: heliotrope4scap;
}

.main a {
  /* font-family: 'heliotrope6'; */
    /*   font-size: 20pt; */
  font-family: 'heliotrope6';
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: none;
    max-width: 900px;
}

nav a {
  font-family: 'heliotrope4scap';
  font-size: 1rem;
    text-decoration: none;
    padding-right: .25em;
}

body{
 margin-left:auto;
    margin-right:auto;
    width: 100%;
    max-width: 900px;
    min-height: 100%;
    position: relative; z-index: -10000; -webkit-font-smoothing: subpixel-antialiased; /* corrects safari rendering */
color: var(--solarized-base02);
  background-color: var(--solarized-base2);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::selection {
  background: var(--solarized-base0);
  color: var(--solarized-base2);
  text-shadow: none;
}
p {
    font-family: var(--heliotrope-text-font), 'Fira Sans', sans-serif;
    line-height: var(--heliotrope-text-line-height);
    font-size: var(--heliotrope-text-size);
}

hr {
  border: 0;
  border-top: 3px dotted var(--solarized-cyan);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  /* border-bottom: 3px solid var(--maincolor); */
  color: inherit;
  text-decoration: none;
}

a:hover {
      color: var(--solarized-base2);
  background-color: var(--solarized-base01);
}

ul {
  list-style: none;
  padding-left: 2ch;
}
ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

/* Images */
img {
  border: 3px solid #ececec;
  max-width: 100%;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}

pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem; /* Top margin of the header */
  margin-bottom: 0rem; /* Bottom margin of the header */
  line-height: 1.1rem;
    text-decoration: none;
    max-width: 1000px;
}

header .main {
    /* font-size: 1.5rem; */
    text-decoration: none;
}

h1 {
    font-family: var(--heliotrope-header-font);
    font-size: var(--heliotrope-header-size);
    line-height: var(--heliotrope-header-line-height);
    margin-top: 1em;
}

h2 {
  font-size: 1.05rem;
  margin-top: 1.2em;
}

h3, h4, h5, h6 {
  font-size: 1rem;
  margin-top: 1rem;
}

/* h1::before { color: var(--solarized-yellow); content: '# '; } */
/* h2::before { color: var(--solarized-yellow); content: '## '; } */
/* h3::before { color: var(--solarized-yellow); content: '### '; } */
/* h4::before { color: var(--solarized-yellow); content: '#### '; } */
/* h5::before { color: var(--solarized-yellow); content: '##### '; } */
/* h6::before { color: var(--solarized-yellow); content: '###### '; } */

h1 a:after{
    position: relative;
    content: "\FEFF°";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: var(--solarized-red);
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}

p a:after{
    position: relative;
    content: "\FEFF°";
    margin-left: 0.10em;
    font-size: 90%;
    top: -0.10em;
    color: var(--solarized-red);
    font-feature-settings: "caps";
    font-variant-numeric: normal;
}


.meta {
  color: #999;
  letter-spacing: -0.5px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  border-top: none;
  border-top: 0.08rem solid var(--solarized-yellow);
  padding: .1rem 0rem;
  margin-top: 3rem;
  font-family: (--heliotrope-text-font);
  font-size: .8rem;display: flex;
  align-items: center;
}
.soc {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}
.footer-info {
  padding: var(--footer-padding);
}

.title {
    font-family: var(--heliotrope-header-font);
    font-size: var(--heliotrope-header-size);
    line-height: var((--heliotrope-header-line-height));
    margin-bottom: 0;
}

/* Common */
.title h1 {
  font-family: var(--heliotrope-header-font);
    font-size: var(--heliotrope-header-size);
    line-height: var((--heliotrope-header-line-height));
    margin-bottom: 0;
}

time {
   font-family: var(--heliotrope-text-font);
   line-height: var(--heliotrope-text-line-height);
   font-size: var(--heliotrope-text-size);
   color:  var(--solarized-base00);
}

/* Posts */
article .title {
    font-family: var(--heliotrope-text-font);
    line-height: var(--heliotrope-text-line-height);
    font-size: var(--heliotrope-text-size);
}

.list-item {
    font-family: var(--heliotrope-text-font);
    line-height: var(--heliotrope-text-line-height);
    font-size: var(--heliotrope-text-size);
}



/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor);
}

.site-description {
display: flex;
justify-content: space-between;
}
.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid var(--maincolor);
}
.tags a:hover{
  color: var(--solarized-base03);
  background-color: var(--solarized-base3);
}
svg{
  max-height: 15px;
}
.soc:hover{
  color: white;
}
.draft-label{
    font-family: heliotrope4scap;
    line-height: var(--heliotrope-text-line-height);
    font-size: var(--heliotrope-text-size);
    font-weight: bold;
    letter-spacing: 0.1em;
    color: var(--solarized-orange);
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: var(--solarized-base-032);
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
